@using MEIZU.Tools
@model dynamic

@{ ViewBag.Title = "菜单管理"; }

<table id="power-table" lay-filter="power-table"></table>


@section footer
{
    <script>
    Array.max = function( array ){
    return Math.max.apply( Math, array );
    };
    Array.min = function( array ){
    return Math.min.apply( Math, array );
    };
    window.loadedFunc =  function(){
        layui.use( 'dropdown' , function() {
        tools.treetable.render({
            treeColIndex: 1,
            treeSpid: 0,
            treeIdName: 'Id',
            treePidName: 'Tid',
            skin:'line',
            method:'get',
            treeDefaultClose: true,
            elem: '#power-table',
            url: '/MeiZu/PhoneTypeData',
            toolbar: '#user-toolbar',
            defaultToolbar: ['filter', 'print', 'exports'],
            page: false,
            cols: [
                [
                { title: '序号',type:"numbers"},
                    { field: 'TypeName', title: '类别名称'},
                    {title: '操作',templet: '#power-bar', width: 200, align: 'center'}
                ]
            ],
            done:function (res){
                console.info(res);
                let menus = [
                                {txt: "添加子节点", event: "createChild"}
                            ];
            }
        });
         layui.table.on("tool(power-table)",res=>{
             let data = res.data;
             console.info(data);
             switch (res.event) {
                case "edit":
                     @Html.PearOpen("'/MeiZu/EditNode/'+ data.Id");
                     break;
               case "remove":
                  layer.confirm((data.ParentMenuId !== 0?'确定要删除吗？':'确定删除根节点吗？根节点删除会把全部子节点都删除！'), {
                    btn: ['确定', '取消']
                  },function(index){
                    layui.jquery.ajax({
                        url:"MenuRemove",
                        type:"post",
                        data:{
                            id:data.Id,
                            parentId:data.ParentMenuId
                        }
                       }).done(res =>{
                           layer.close(index);
                            window.parent.location.reload();
                       });
                  });
                     break;
                 case "detail":
                     @Html.PearOpen("'/MeiZu/PhoneShow'","700px");
                     break;
             }
         });
         });

          layui.table.on("toolbar(power-table)",res =>{
              switch (res.event) {
                 case "add":
                      @Html.PearOpen("'/MeiZu/CreatePhoneType'","700px");
                     break;
              }
          });
      }

       /**
      * iframe弹框被关闭后自动刷新
      */
      function openEndFunc() {
          layui.table.reload("power-table");
      }
    </script>
}
<script type="text/html" id="icon">
    <i class="{{d.IconString}}"></i>
</script>
<script type="text/html" id="power-type">
    {{d.TypeId == 1?'Menu':'Page'}}
</script>
<script type="text/html" id="power-bar">
    <button class="pear-btn pear-btn-sm" lay-event="detail" title="明细"><i class="layui-icon layui-icon-read"></i></button>
    {{# if(d.Id > 0){ }}
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
    {{# } }}
    <button class="pear-btn pear-btn-sm" id="more{{d.Id}}"><i class="layui-icon layui-icon-triangle-d"></i></button>

</script>
<script type="text/html" id="user-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>