# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MEIZU.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MECHREVO\source\repos\MEIZU\.idea\.idea.MEIZU\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
